*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: end;
    padding: 20px;
}

nav h1{
    margin: auto auto auto 20px;
}

nav a{
    margin: auto 20px;
    text-decoration: none;
    color: #000;
}

.content{
    position: relative;
    width: 100%;
    padding: 5% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 246, 255);
}

.content h1{
    text-align: center;
    font-size: 2rem;
}

.content h2{
    text-align: center;
    font-size: 2.5rem;
    margin: 40px;
    text-decoration: underline;
}

.content p{
    text-indent: 2em;
    font-size: 1.1rem;
    margin: 10px;
}

.content iframe{
    width: 90%;
    height: 90vh;
    margin: 10px auto;
}

footer{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    background-color: rgb(188, 224, 255);
}